* {
    box-sizing: border-box;
    font-family: 'DM Mono', monospace;
}

html {
    background-color: brown;
    font-size: 16px;
}

.title {
    color: azure;
    font-size: 2.5rem;
    text-align: center;
    padding-top: 10vh;
    padding-bottom: 3vh;
}


.grid-container {
    /* border: 1px blue solid; */
    display: flex;

}

.gameBoard {
    /* border: 1px rgb(181, 221, 34) solid; */
    width: 640px;
    height: 640px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
}

.cards {
    /* border: aqua solid 1px; */
    width: 150px;
    height: 200px;
    margin: 4px;
    position: relative;
    box-shadow: 1px 1px 1px rgb(0, 85, 0);
    transform: scale(1);
    transform-style: preserve-3d;
    /* transform: transform .5s; */
}

.cards:active {
    transform: scale(0.97);
    transition: transform .2s;
}

.card-front, .card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 20px; 
    background-color: rgb(33, 109, 18);
    backface-visibility: hidden;
}

.card-front {
    transform: rotateY(180deg);
}

.cards.flip {
    transform: rotateY(180deg);
}